<header class="w-full p-4 border border-gray-200 bg-gray-50 rounded-t-xl dark:border-gray-600 dark:bg-gray-700">
    <ul class="grid grid-cols-3">
        <li class="col-span-2 sm:col-span-1">
            <button
                class="inline-flex items-center justify-center h-9 mr-3 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                Edit This Page &nbsp;
                <module href="/components/icons/penFancy.svg"></module>
            </button>
        </li>
        <li class="items-center justify-center hidden col-span-1 space-x-2 sm:flex" aria-label="Change screen size 3 options">
            <button aria-pressed="true"
                class="inline-flex items-center justify-center h-9 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
               <module href="/components/icons/desktop.svg"></module>
               <span class="sr-only">Change to desktop layout</span>
            </button>
            <button aria-pressed="false"
                class="inline-flex items-center justify-center h-9 mr-3 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <module href="/components/icons/tablet.svg"></module>
                <span class="sr-only">Change to tablet layout</span>
            </button>
            <button aria-pressed="false"
                class="inline-flex items-center justify-center h-9 mr-3 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <module href="/components/icons/mobile.svg"></module>
                <span class="sr-only">Change to mobile layout</span>
            </button>
        </li>
        <li class="flex justify-end col-span-1">
            <button
                class="inline-flex items-center justify-center h-9 mr-3 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <module href="/components/icons/moon.svg"></module>
                <span class="sr-only">Switch site to dark-mode</span>
            </button>
        </li>
        <li class="justify-end col-span-1 hidden" aria-hidden="true">
            <button aria-hidden="true" tabindex="-1"
                class="inline-flex items-center justify-center h-9 mr-3 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <module href="/components/icons/lightbulb.svg"></module>
                <span class="sr-only" aria-hidden="true">Switch site to light-mode</span>
            </button>
        </li>
    </ul>
</header>