<header class="w-full p-4 border border-gray-200 bg-gray-100 dark:border-gray-600 dark:bg-gray-700 bg-g">
    <ul class="grid grid-cols-4" >
        <li class="col-span-1">
            <button id="editPageButton"
                class="inline-flex items-center justify-center h-9 mr-3 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-200 dark:border-gray-400 dark:hover:text-white dark:hover:bg-gray-700">
                <span class="sr-only unset-edit-button">Edit This Page &nbsp; </span>
                <module href="/components/icons/penFancy.svg"></module>
            </button>
        </li>
        <li class="items-center justify-center col-span-2 space-x-2 flex" aria-label="Change screen size there are 3 options">
            <button aria-pressed="false" id="desktopLayoutButton"
                class="inline-flex items-center justify-center h-9 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
               <module href="/components/icons/desktop.svg"></module>
               <span class="sr-only">Change to desktop layout</span>
            </button>
            <button aria-pressed="false" id="tabletLayoutButton"
                class="inline-flex items-center justify-center h-9 mr-3 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <module href="/components/icons/tablet.svg"></module>
                <span class="sr-only">Change to tablet layout</span>
            </button>
            <button aria-pressed="false" id="mobileLayoutButton"
                class="inline-flex items-center justify-center h-9 mr-3 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <module href="/components/icons/mobile.svg"></module>
                <span class="sr-only">Change to mobile layout</span>
            </button>
        </li>
        <li class="flex justify-end col-span-1" id="darkModeItem">
            <button data-set-theme="dark"
                class="inline-flex items-center justify-center h-9 mr-3 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <module href="/components/icons/moon.svg"></module>
                <span class="sr-only">Switch site to dark-mode</span>
            </button>
        </li>
        <li class="justify-end col-span-1 hidden" id="lightModeItem">
            <button data-set-theme="light"
                class="inline-flex items-center justify-center h-9 mr-3 px-3 text-xs font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                <module href="/components/icons/lightbulb.svg"></module>
                <span class="sr-only" >Switch site to light-mode</span>
            </button>
        </li>
    </ul>
</header>