<!-- Breadcrumb -->
<nav class="flex justify-center pt-3">
    <ol class="inline-flex items-center mb-3 sm:mb-0">
        <li aria-current="page">
            <div class="flex items-center">
                <a href="/"
                    class="inline-flex items-center justify-center h-9 px-3 text-xs  font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    <module href="/components/icons/home.svg"></module>
                    <span> &nbsp; conorhinchee.com</span>
                </a>

            </div>
        </li>
        <li role="presentation">
            <span class="mx-2 text-gray-400">/</span>
        </li>
        <li>
            <div class="flex items-center">
                <button
                    class="inline-flex items-center justify-center h-9 px-3 text-xs  font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    <span>#About Me &nbsp;</span>
                    <module href="/components/icons/chevron-down.svg"></module>
                </button>

                <div  class="opacity-0 hidden absolute bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="text-sm text-gray-700 dark:text-gray-200">
                        <li>
                            <a href="#about"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">#About Me</a>
                        </li>
                        <li>
                            <a href="#portfolio"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">portfolio</a>
                        </li>
                        <li>
                            <a href="#socials"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">socials</a>
                        </li>
                        <li>
                            <a href="/blog"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">blog</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="hidden" role="presentation">
            <span class="mx-2 text-gray-400">/</span>
        </li>
        <li class="hidden">
            <div class="flex items-center">
                <button
                    class="inline-flex items-center justify-center h-9 px-3 text-xs  font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 focus: focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    <module href="/components/icons/git-merge.svg"></module>
                    <span>&nbsp; Revision v3.0</span>
                </button>
            </div>
        </li>
    </ol>
</nav>