<section id="projects" aria-labelledby="projectsSectionHeader" class="min-h-screen font-mono dark:text-white mt-28">
    <h2 id="projectsSectionHeader" class="text-center text-3xl">EXPERIENCE</h2>
    <div class="flex justify-center items-center">
        <ul class="overflow-x-scroll w-full flex snap-mandatory snap-x">
            <li class="grow-0 flex-shrink-1 basis-full snap-always snap-center">
                <!-- <article aria-label="Work History with Express.com" class="h-96"> -->
                    <article aria-label="Work History with Express.com" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <span class="flex justify-center mb-4">
                      <module href="/components/icons/express-logo.svg"></module>
                    </span>
                    <h3>Ecommerce UI Engineer</h3>
                    <p> June 2021 - Present </p>
                </article>
            </li>
            <li class="grow-0 flex-shrink-1 basis-full snap-always snap-center">
                <!-- <article aria-label="Open Source and Code Community contributions" class="h-96"> -->
                <article aria-label="Work History with Express.com" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <!-- <h3 class="text-center text-lg pb-6 font-semibold text-gray-900 dark:text-white"> -->
                        <!-- Pure React Carousel -->
                    <!-- </h3>  -->
                     <span class="flex flex-col justify-center mb-4">
                      <!-- <span class="w-1/4"> -->
                        <module href="/components/icons/npm-logo.svg"></module>
                      </span>
                      <h3>Open Source Code Contributions</h3>
                      <p></p>
                </article>
            </li>
            <!-- <li class="grow-0 flex-shrink-0 basis-full snap-always snap-center"> -->
              <li class="grow-0 flex-shrink-1 basis-full snap-always snap-center"> 
                <!-- <article aria-label="Work History with Resolvve.com" class="h-96"> -->
                <article aria-label="Work History with Express.com" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h6 class="text-center text-2xl  mb-4 font-semibold text-gray-900 dark:text-white">
                        Resolvve LLC
                    </h6>
                    <h3>Full Stack Engineer</h3>
                    <p>December 2018 - March 2020</p>                    
                </article>
            </li>
          </ul>
    </div>
</section>

