<section id="random" aria-label="Just some random things I built" class="min-h-screen font-mono dark:text-white mt-28">
    <h2 class="text-center text-3xl">SOME RANDOM THINGS</h2>
    <div class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2">
        <article aria-labelledby="hexagonHeader" class="p-8 bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-tl-lg md:border-r dark:bg-gray-800 dark:border-gray-700">
          <h3 id="hexagonHeader" class="text-center text-lg pb-6 font-semibold text-gray-900 dark:text-white">Click The Hexagon</h3>
          <module href="/components/clickTheHexagon.html"></module>
        </article>
        <article aria-labelledby="gameOfLifeHeader" class="p-8 bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-tl-lg md:border-r dark:bg-gray-800 dark:border-gray-700">
             <h3 id="gameOfLifeHeader" class="text-center text-lg font-semibold text-gray-900 dark:text-white">
               <module href="/components/icons/skull.svg"></module>
               Game Of Life
               <module href="/components/icons/worm.svg"></module>
             </h3>
             <module href="/components/gameOfLife.html"></module>
        </article>
        <article aria-labelledby="tickTockHeader" class="p-8 bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-tl-lg md:border-r dark:bg-gray-800 dark:border-gray-700">
             <h3 id="tickTockHeader" class="text-center text-lg font-semibold text-gray-900 dark:text-white">Tick - Tock</h3>
             <module href="/components/tickTock.html"></module>
        </article>
        <article aria-labelledby="uselessButtonHeader" class="p-8 bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-tl-lg md:border-r dark:bg-gray-800 dark:border-gray-700" >
          <h3 id="uselessButtonHeader" class="text-center text-lg font-semibold text-gray-900 dark:text-white">Useless Button</h3>
          <module href="/components/uselessButton.html"></module>
     </article>
    </div>
</section>