<div class="w-2xl mx-auto mb-4 h-60 text-gray-500 lg:mb-8 dark:text-gray-400">
    <div class="T" aria-hidden="true">T</div> 
    <div class="circle">
        <div aria-hidden="true" class="OandI OandIAnimationLightMode">O</div>
        <div aria-hidden="true" class="OandI OandIAnimationLightMode">I</div>
        <div aria-hidden="true" class="OandI OandIAnimationLightMode">O</div>
        <div aria-hidden="true" class="OandI OandIAnimationLightMode">I</div>
        <div aria-hidden="true" class="OandI OandIAnimationLightMode">O</div>
        <div aria-hidden="true" class="OandI OandIAnimationLightMode">I</div>
        <div aria-hidden="true" class="OandI OandIAnimationLightMode">O</div>
        <div aria-hidden="true" class="OandI OandIAnimationLightMode">I</div>
        <div aria-hidden="true" class="OandI OandIAnimationLightMode" >O</div>
        <div aria-hidden="true" class="OandI OandIAnimationLightMode">I</div>
        <div aria-hidden="true" class="OandI OandIAnimationLightMode">O</div>
        <div aria-hidden="true" class="OandI OandIAnimationLightMode">I</div>
    </div>
    <div aria-hidden="true" class="C">C</div>
    <div aria-hidden="true" class="K">K</div>
</div>
